// Colors
$grey: #333333;

//Navigation Colors
$nav-background: $grey;
$nav-text-color: white;
// Clock Variables
$clock-text-color: white;
$font-size: 2.25rem;
$font-weight: 300;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
